@{
    ViewBag.Title = "Vagas Brasilia";
}

<div class="res-vagas formfull">
    <div class="res-content">
        <h2>Titulo da vagas</h2>
        <p>Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga</p>
    </div>
    <div class="res-content">
        <h2>Titulo da vagas</h2>
        <p>Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga Conteudo da vaga</p>
    </div>
</div>

@section scripts{
    <script>
        $_id("btjobs").onclick = function () {
            return verificanullsearch();
        }
    </script>
}
